<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>#MongoDB connect</h1>
    <div>
        <p>Collection Data</p>
        <p>------------------------------------</p>
       {% for i in data %}
            <p>Category: {{i.Category}}</p>
            <p>Title: {{i.Title}}</p>
            <p>Writer: {{i.Writer}}</p>
            <p>Book_made: {{i.Book_made}}</p>
            <p>Sell_price: {{i.Sell_price}}</p>
            <p>Image_uri: {{i.Image_uri}}</p>
            <p>---------------</p> 
        {% endfor %} 
    </div>
</body>
</html>
